<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
   <display-name>Runner Assist</display-name>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>
   <servlet>
      <servlet-name>ServIndex</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.ServIndex</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ServIndex</servlet-name>
      <url-pattern>/api/index</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.user.Login</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/api/login</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>UserCreation</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.user.UserCreation</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>UserCreation</servlet-name>
      <url-pattern>/api/create</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>RunDetailed</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.runs.RunDetailed</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>RunDetailed</servlet-name>
      <url-pattern>/api/run</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>userData</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.user.userData</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>userData</servlet-name>
      <url-pattern>/api/userdata</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Calendar</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.Calendar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Calendar</servlet-name>
      <url-pattern>/api/calendar</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.user.Logout</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/api/logout</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>RunDashboard</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.runs.RunDashboard</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>RunDashboard</servlet-name>
      <url-pattern>/api/rundashboard</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Shoes</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.Shoes</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Shoes</servlet-name>
      <url-pattern>/api/shoes</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>RunGPS</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.runs.RunGPS</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>RunGPS</servlet-name>
      <url-pattern>/api/gps</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>AddRun</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.runs.AddRun</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>AddRun</servlet-name>
      <url-pattern>/api/addrun</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>WeekSummary</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.WeekSummary</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>WeekSummary</servlet-name>
      <url-pattern>/api/summary</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>RemoveShoe</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.RemoveShoe</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>RemoveShoe</servlet-name>
      <url-pattern>/api/removeshoe</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Advice</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.Advice</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Advice</servlet-name>
      <url-pattern>/api/advice</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>DelAccount</servlet-name>
      <servlet-class>ambitious.but.rubbish.api.DelAcount</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>DelAccount</servlet-name>
      <url-pattern>/api/delete</url-pattern>
   </servlet-mapping>
</web-app>